<html>
	<head>
		<title>ToDo</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="shortcut icon" href="{{url_for('static',filename='to-do-list.png')}}"
	</head>

<body>
	<div class='container container pt-3 border rounded  border-dark mt-3'>
		<h1 class='text-muted text-center '>ToDo</h1>
		<form method="POST" action="{{url_for('form')}}">
			<div class='form-control border-dark'>
				{{form.csrf_token}}
				<div class='form-group'>
					{{form.ids.label}}
					{{form.ids (class='form-control')}}
					<small class="form-text text-muted">Id Must Be Unique.</small>
					{% if form.ids.errors %}
					<ul class="errors">
						  {% for error in form.ids.errors %}
								<li class="alert alert-warning  alert-dismissible fade show">{{ error }}</li>
						  {% endfor %}
					</ul>
					{% endif %}
					<br>
					{{form.title.label}}
					{{form.title (class='form-control')}}
					{% if form.title.errors %}
					<ul class="errors">
						  {% for error in form.title.errors %}
								<li class="mt-2 alert alert-warning  alert-dismissible fade show">{{ error }}</li>
						  {% endfor %}
					</ul>
					{% endif %}
					<br>
					{{form.description.label}}
					{{form.description (class='form-control')}}
					{% if form.description.errors %}
					<ul class="errors">
						  {% for error in form.description.errors %}
								<li class="alert alert-warning alert-dismissible fade show">{{ error }}</li>
						  {% endfor %}
					</ul>
					{% endif %}
					<br>
					<div class='form-check'>
						{{form.done.label}}
						{{form.done}}
					</div>
					<br>
					{{form.submit(class="btn btn-outline-primary")}}
				</div>
			</div>
		</form>
</div>
</body>

</html>